* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#flatDetailDiv {
  width: 80%;
  margin: 20px auto;
  display: flex;
  justify-content: space-between;
}
#imgDiv {
  width: 70%;
}
#imgDiv img {
  width: 100%;
  height: 574px;
}
#flatData {
  width: 30%;

  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  border-left: 5px solid #f3ebe0;
  border-right: 1px solid #f3ebe0;
  border-top: 1px solid #f3ebe0;
  border-bottom: 1px solid #f3ebe0;
  backdrop-filter: blur(10px);
  height: 574px;
  overflow-y: scroll;
}

#backBtn{
  width: 40px;
  height: 40px;
  border-radius: 20px;
  position: absolute;
  top: 12vh;
  left: 8vh;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #54BAB9; 
  border: 1px solid #54BAB9 ;
  background-color: rgb(218, 218, 218);
  transition: 0.5s;
}
#backBtn:hover{
  background-color:white;
}