*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#flatList{
width: 80%;    
margin: auto;
}
table {
    margin: 20px auto;
    text-align:center;
    font-size:16px;
    font-weight:500;
    backdrop-filter: blur(7px);
}
th{
    padding: 8px 70px;
    background-color:#54BAB9;
    margin-right: 10%;
    color: #FBF8F1;
    font-size: 18px;
    font-weight: 550;    
}

td {
    border-bottom: 1px solid #54BAB9;
}  
.flatImg {
    width: 180px;
}
.flatListLink {
    text-decoration: none;
    width: 300px;
    color: black;
    align-items: center;  
}
.paginationBtn{
    border:2px solid rgb(127, 216, 216);
    padding:5px 25px ; 
    font-size:16px; 
    color: #54BAB9;
    border-radius: 5px;
    background-color: transparent;
}
.paginationBtn:hover {
background-color:rgb(244, 252, 255);
}
#btnDiv {
    width:85%;
    margin:30px auto;
   display: flex;
   justify-content: space-between;
}